In [29]:
%pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\lifes\appdata\roaming\python\python312\site-packages (9.0.0)
Note: you may need to restart the kernel to use updated packages.

In [30]:
import mysql.connector as conn

In [31]:
mydb = conn.connect(host = 'localhost', user = 'root', passwd = 'shivam.life2394')
mydb

In [32]:
cursor = mydb.cursor()               # cursor is like the pointer to the database
cursor

In [33]:
cursor.execute("show databases;")

In [34]:
cursor.fetchall()                   # this will fetch all the queries executed till now, and provides the result

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('pysqldb',),
 ('sys',)]

In [ ]:
cursor.execute("create database pysqldb")
cursor.fetchall()

In [36]:
cursor.execute("use pysqldb;")
cursor.execute("show tables;")
# cursor.execute("create table if not exists pwskills(studentid INT(10), firstname VARCHAR(30), lastname VARCHAR(30), regid INT(30), classname VARCHAR(30));")
# cursor.execute("insert into pwskills values(45, 'imran, 'mg', 34, 'fsds')")


# mydb.commit();
cursor.fetchall()

[('testtable',)]

In [ ]:
cursor.execute('create table pysqldb.testTable(students INT(10), firstname VARCHAR(30), lastname VARCHAR(30), regid INT(30), classname VARCHAR(30));')

In [38]:
cursor.execute("use pysqldb");
cursor.execute("show tables");
cursor.fetchall()

[('testtable',)]

In [39]:
cursor.execute("insert into pysqldb.testTable values(45, 'imran', 'mg', 34, 'fsds')");
cursor.fetchall()

[]

In [40]:
mydb.commit()         # This we have to perform whenever we did some kind of operation with the databases(data manipulation operations)

In [41]:
cursor.execute("select * from pysqldb.testTable");
cursor.fetchall()

[(45, 'imran', 'mg', 34, 'fsds'), (45, 'imran', 'mg', 34, 'fsds')]

In [42]:
import csv
with open('data.csv', 'r') as f:
    data = csv.reader(f, delimiter = '\n')
    for i in data:
        print(i[0])

Car,Model,Volume,Weight,CO2
Toyoty,Aygo,1000,790,99
Mitsubishi,Space Star,1200,1160,95
Skoda,Citigo,1000,929,95
Fiat,500,900,865,90
Mini,Cooper,1500,1140,105
VW,Up!,1000,929,105
Skoda,Fabia,1400,1109,90
Mercedes,A-Class,1500,1365,92
Ford,Fiesta,1500,1112,98
Audi,A1,1600,1150,99
Hyundai,I20,1100,980,99
Suzuki,Swift,1300,990,101
Ford,Fiesta,1000,1112,99
Honda,Civic,1600,1252,94
Hundai,I30,1600,1326,97
Opel,Astra,1600,1330,97
BMW,1,1600,1365,99
Mazda,3,2200,1280,104
Skoda,Rapid,1600,1119,104
Ford,Focus,2000,1328,105
Ford,Mondeo,1600,1584,94
Opel,Insignia,2000,1428,99
Mercedes,C-Class,2100,1365,99
Skoda,Octavia,1600,1415,99
Volvo,S60,2000,1415,99
Mercedes,CLA,1500,1465,102
Audi,A4,2000,1490,104
Audi,A6,2000,1725,114
Volvo,V70,1600,1523,109
BMW,5,2000,1705,114
Mercedes,E-Class,2100,1605,115
Volvo,XC70,2000,1746,117
Ford,B-Max,1600,1235,104
BMW,216,1600,1390,108
Opel,Zafira,1600,1405,109
Mercedes,SLK,2500,1395,120

In [ ]:
cursor.execute('drop table data')

In [ ]:
cursor.execute('create table if not exists data(car VARCHAR(255), model VARCHAR(255), volumne INT(10), weight INT(10), co2 INT(10));')

In [ ]:
cursor.execute("insert into data values('Toyoty','Aygo',1000,790,99);")

In [ ]:
#! This below code will be good, to store INT values
# with open('data.csv', 'r') as f:
#     data = csv.reader(f, delimiter = '\n')
#     next(data)         # this will skip th first row(which helps not count the {column_names} fields)
#     for i in data:
#         # print(type(i[0]))
#         # print(f"insert into data values ({str(i[0])})")
#         # cursor.execute('insert into data values({values})'.format(values = ((i[0]))))


# import csv
# with open('data.csv', 'r') as f:
#     data = csv.reader(f, delimiter='\n')
#     next(data)  # Skip the first row
#     for i in data:
#         values = i[0].split(',')
#         values_str = ', '.join([f"'{val.strip()}'" if ' ' in val else val for val in values])
#         query = f"insert into data values ({values_str})"
#         print(query)
        # cursor.execute(query)


# import csv
# with open('data.csv', 'r') as f:
#     data = csv.reader(f, delimiter='\n')
#     next(data)  # Skip the first row
#     for i in data:
#         values = i[0].split(',')
#         values_str = ', '.join([f"'{val}'" if val.isalpha() else val for val in values])
#         query = f"insert into data values ({values_str})"
#         print(query)
#         cursor.execute(query)

insert into data values (Toyoty, Aygo, 1000, 790, 99)

ProgrammingError: 1054 (42S22): Unknown column 'Toyoty' in 'field list'

In [ ]:

mydb.commit()      # we need to do this (commit) step every timer we do some change in the database
cursor.fetchall()

[]

In [ ]:
# %pip install pandas
import pandas as pd

pd.read_sql('Select * from test.data' ,mydb)

C:\Users\lifes\AppData\Local\Temp\ipykernel_27976\967447324.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql('Select * from data' ,mydb)

      car model  volumne  weight  co2
0  Toyoty  Aygo     1000     790   99
1  Toyoty  Aygo     1000     790   99
2  Toyoty  Aygo     1000     790   99
3  Toyoty  Aygo     1000     790   99