> ### `Integer to Floating Point Number`

In [1]:
a = 10
b = float(a)
print(b)

10.0

> ### `Convert a Float to an Integer`

In [6]:
a = 10.2
b = int(a)
print(b)

10

> ### `Convert an Integer to a String`

In [9]:
a = 10
b = str(a)
print(b)
print(type(b))

10
<class 'str'>

> ### `Convert a list to a tuple`

In [12]:
listT = [1,2,3,4]
tupleT = tuple(listT)
print(tupleT)
print(type(tupleT))

(1, 2, 3, 4)
<class 'tuple'>

> ### `Convert a list to a tuple`

In [13]:
tupleT = (1,2,3,4,5)
listT = list(tupleT)
print(listT)
print(type(listT))

[1, 2, 3, 4, 5]
<class 'list'>

> ### `Convert a Decimal Number to Binary`

In [15]:
a = 10
b = bin(a)
print(b)

0b1010

> ### `Convert a Non-zero number to boolean`

In [16]:
a = 10
b = bool(a)
print(b)
print(type(b))

True
<class 'bool'>